{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
{{ selecteduser.username }}profile
{% endblock %}

{% block body_block %}
<div class="jumbotron p-3">
	<div class="container">
		<h1 class="jumbotron-heading">{{ selecteduser.username }} Profile</h1>
	</div>
</div>

<div class="container">
	<div class="row">
		{% if userprofile.picture %}
		<img src="{{ MEDIA_URL }}{{userprofile.picture}}" width="300" height="300" alt="{{selecteduser.username}}">
		{% else %}
		<img width="300" height="300" src="https://lorempixel.com/300/300/people/"/>
		{% endif %}
		<br/>
		<div class="p-4"></div>
		<div>
			{% if selecteduser.username == user.username %}
			<form method="post" action="." enctype="multipart/form-data">
			{% csrf_token %}
			{{ form.as_p }}
			<input type="submit" value="Update" >	
			</form>
			{% else %}
			<p><strong>Website:</strong><a href="{{userprofile.website}}">{{userprofile.website}}</a></p>
			{% endif %}
		</div>
		<div id="edit_profile"></div>
	</div>
</div>
{% endblock %}